html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#map {
    width: 100%;
    height: 100%;
}

#debug {
    position: absolute;
    top: 100px;
    left: 10px;
    width: 300px;
    overflow: auto;
    height: 50px;
    line-height: 50px;
    background: #fff;
}